<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>NS Flex Compare</title>
    </head>

    <body>
        <h1>NS Flex Compare</h1>

        <p>These are the prices for all single fare second class train tickets from Nijmegen to Utrecht:</p>

        <table>
            <thead>
                <tr>
                    <th>Discount</th>
                    <th>Price</th>
                </tr>
            </thead>

              <tbody>
                {% for price in prices %}
                    <tr>
                        <td>{{ price.discount }}</td>
                        <td>{{ price.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
