<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>NS Flex Compare</title>
    </head>

    <body>
        <h1>NS Flex Compare</h1>

        <form action="/" method="post">
            <input autocomplete="off" autofocus id="fromStation" name="fromStation" placeholder="From" type="text">
            <input autocomplete="off" autofocus id="toStation" name="toStation" placeholder="To" type="text">
            <button class="btn btn-primary" type="submit">Get prices</button>
        </form>

        {% if prices %}
            <p>These are the prices for all single fare second class train tickets from {{ fromStation }} to {{ toStation }}:</p>

            <table>
                <thead>
                    <tr>
                        <th>Discount</th>
                        <th>Price</th>
                    </tr>
                </thead>

                <tbody>
                    {% for price in prices %}
                        <tr>
                            <td>{{ price.discount }}</td>
                            <td>{{ price.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </body>
</html>
